@use "../../../../styles/mixin.scss" as mixin;

.converterContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
}

.input {
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    box-shadow: 0 0 0 3px rgba(var(--accent-color), 0.1);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px !important;
  }
}

.select {
  font-size: 1rem;
  text-overflow: ellipsis;
  option {
    text-overflow: ellipsis;
  }
}

.currencySelection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: end;
  @include mixin.tablet {
    grid-template-columns: 1fr auto 1fr;
  }
}

.swapButton {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  padding: 0.75rem;
  background-color: var(--btn-active-bg);
  color: var(--accent-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  order: 3;
  margin-top: 1rem;
  &:hover {
    background-color: var(--btn-hover-bg);
  }

  @include mixin.tablet {
    align-self: end;
    order: inherit;
    margin-top: 0;
  }
}

.swapIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.convertButton {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;

  background-color: var(--accent-color);
  color: var(--text-color-light);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: var(--btn-hover-dark-bg);
  }
}

.convertIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.result {
  margin-top: 2rem;
  padding: 1.5rem;
  background: var(--btn-active-bg);
  border-radius: 0.5rem;
  border: 1px solid var(--accent-color);
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}
